In [2]:
import nfl_data_py as nfl
import pandas as pd
import numpy as np

In [18]:
pbp = nfl.import_pbp_data([2024])
weekly_roster_data = nfl.import_weekly_rosters([2024])

contract_data = pd.read_csv("./overthecap/overthecap/overthecap.csv")

2024 done.
Downcasting floats.

EmptyDataError: No columns to parse from file

In [12]:
weekly_roster_data.columns.tolist()

cleaned_wr_data = weekly_roster_data[['team', 'week', 'player_name', 'player_id', 'position', 'status']]

cleaned_wr_data

      team  week   player_name   player_id position status
0      SEA    13  Jason Peters  00-0022531       OL    DEV
1      SEA    16  Jason Peters  00-0022531       OL    DEV
2      SEA     8  Jason Peters  00-0022531       OL    DEV
3      SEA     6  Jason Peters  00-0022531       OL    DEV
4      SEA    11  Jason Peters  00-0022531       OL    DEV
...    ...   ...           ...         ...      ...    ...
46574  IND     7   Jack Wilson        None       OL    DEV
46575   NO    15  Tra Fluellen        None       DB    DEV
46576   NO    18  Tra Fluellen        None       DB    DEV
46577   NO    16  Tra Fluellen        None       DB    DEV
46578   NO    17  Tra Fluellen        None       DB    DEV

[46579 rows x 6 columns]